p.techstack-text {
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0px;
  word-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  /* text-shadow: 1px 1px 11px rgb(213, 191, 247); */
  font-size: 20px;
  font-weight: bold;
}

hr.horizontal-line{
    border: 1px solid #c770f0;
}

hr.horizontal-line-top{
    border: 2px solid #c770f0;
}
